In [141]:
from __future__ import print_function, division
#virtualenv -p python3 venv

In [142]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import cPickle as pk
import pandas as pd
import numpy as np
from IPython.display import clear_output

In [143]:
import os
import sys
base_module_path = os.path.abspath(os.path.join('..'))
if base_module_path not in sys.path:
    sys.path.append(base_module_path)
import cervix

In [144]:
ls ../data/train/Type_1/

0.jpg     1174.jpg  1344.jpg  215.jpg   384.jpg   551.jpg   700.jpg   855.jpg
10.jpg    1179.jpg  1346.jpg  218.jpg   387.jpg   553.jpg   708.jpg   873.jpg
1013.jpg  1190.jpg  1370.jpg  229.jpg   396.jpg   558.jpg   709.jpg   879.jpg
1014.jpg  1194.jpg  138.jpg   230.jpg   401.jpg   560.jpg   710.jpg   880.jpg
1019.jpg  1199.jpg  1384.jpg  237.jpg   41.jpg    562.jpg   713.jpg   887.jpg
102.jpg   12.jpg    1389.jpg  239.jpg   416.jpg   57.jpg    725.jpg   889.jpg
1023.jpg  1202.jpg  139.jpg   245.jpg   421.jpg   576.jpg   727.jpg   890.jpg
1024.jpg  1204.jpg  1390.jpg  248.jpg   425.jpg   578.jpg   732.jpg   891.jpg
1026.jpg  1220.jpg  1393.jpg  252.jpg   434.jpg   579.jpg   739.jpg   895.jpg
1027.jpg  1223.jpg  14.jpg    254.jpg   441.jpg   580.jpg   745.jpg   901.jpg
1033.jpg  1226.jpg  1414.jpg  262.jpg   446.jpg   582.jpg   751.jpg   906.jpg
104.jpg   1229.jpg  142.jpg   265.jpg   454.jpg   583.jpg   759.jpg   908.jpg
1040.jpg  1230.jpg  1422.jpg  267.jpg   463.jpg   593.jpg   763.jpg   917.jpg
1056.jpg  1239.jpg  1427.jpg  27.jpg    469.jpg   596.jpg   764.jpg   918.jpg
1059.jpg  1245.jpg  1430.jpg  281.jpg   47.jpg    605.jpg   765.jpg   920.jpg
1061.jpg  1251.jpg  1437.jpg  294.jpg   470.jpg   619.jpg   769.jpg   921.jpg
1070.jpg  1273.jpg  144.jpg   298.jpg   471.jpg   620.jpg   779.jpg   928.jpg
1071.jpg  1274.jpg  1440.jpg  306.jpg   478.jpg   623.jpg   783.jpg   930.jpg
1077.jpg  1279.jpg  1456.jpg  308.jpg   48.jpg    624.jpg   787.jpg   96.jpg
1079.jpg  1281.jpg  1464.jpg  311.jpg   481.jpg   641.jpg   791.jpg   965.jpg
109.jpg   1285.jpg  1468.jpg  333.jpg   484.jpg   643.jpg   802.jpg   972.jpg
1093.jpg  1288.jpg  1473.jpg  334.jpg   497.jpg   645.jpg   805.jpg   977.jpg
1100.jpg  1289.jpg  148.jpg   338.jpg   513.jpg   649.jpg   809.jpg   982.jpg
1105.jpg  129.jpg   160.jpg   34.jpg    516.jpg   653.jpg   81.jpg    984.jpg
1123.jpg  13.jpg    171.jpg   342.jpg   518.jpg   660.jpg   810.jpg   991.jpg
1131.jpg  1308.jpg  176.jpg   346.jpg   523.jpg   663.jpg   814.jpg   998.jpg
1134.jpg  1314.jpg  180.jpg   349.jpg   531.jpg   667.jpg   817.jpg
1136.jpg  1320.jpg  181.jpg   35.jpg    532.jpg   668.jpg   821.jpg
1139.jpg  1324.jpg  191.jpg   356.jpg   536.jpg   677.jpg   833.jpg
1154.jpg  1326.jpg  201.jpg   376.jpg   539.jpg   683.jpg   836.jpg
1161.jpg  1336.jpg  205.jpg   379.jpg   55.jpg    685.jpg   842.jpg
1168.jpg  1339.jpg  208.jpg   383.jpg   550.jpg   7.jpg     846.jpg

In [145]:
df = cervix.data.make_base_df()

In [146]:
score, ldf = cervix.submission.compute_losses('../data/dev_submission.csv')

In [147]:
score

9.6126998500847076

In [148]:
ldf

  image_name  Type_1  Type_2  Type_3    Type         log_l
3      3.jpg     0.0     0.0     1.0  Type_2  3.453878e+01
0      0.jpg     0.1     0.3     0.6  Type_1  2.302585e+00
2      2.jpg     0.5     0.3     0.2  Type_3  1.609438e+00
1      1.jpg     1.0     0.0     0.0  Type_1  9.992007e-16