In [69]:
from __future__ import print_function, division
#virtualenv -p python3 venv

In [70]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import cPickle as pk
import pandas as pd
import numpy as np
from IPython.display import clear_output

In [71]:
import os
import sys
base_module_path = os.path.abspath(os.path.join('..'))
if base_module_path not in sys.path:
    sys.path.append(base_module_path)
import cervix as c

In [72]:
ls ../data/train/

Type_1/ Type_2/ Type_3/

In [73]:
df = c.data.make_base_df()
tdf = c.data.make_test_df(); tdf.head()

                   path num_id
0    ../data/test/0.jpg      0
1    ../data/test/1.jpg      1
2   ../data/test/10.jpg     10
3  ../data/test/100.jpg    100
4  ../data/test/101.jpg    101

In [74]:
df = c.processing.transform_save_imgs(df, c.processing.resize_100); df.head()

,path,type,filetype,num_id,resize_100_path
0,../data/train/Type_1/0.jpg,Type_1,jpg,0,../data/processed/resize_100/train/0.jpg
1,../data/train/Type_1/10.jpg,Type_1,jpg,10,../data/processed/resize_100/train/10.jpg
2,../data/train/Type_1/1013.jpg,Type_1,jpg,1013,../data/processed/resize_100/train/1013.jpg
3,../data/train/Type_1/1014.jpg,Type_1,jpg,1014,../data/processed/resize_100/train/1014.jpg
4,../data/train/Type_1/1019.jpg,Type_1,jpg,1019,../data/processed/resize_100/train/1019.jpg

In [75]:
tdf = c.processing.transform_save_imgs(tdf, c.processing.resize_100); tdf.head()

                   path num_id                            resize_100_path
0    ../data/test/0.jpg      0    ../data/processed/resize_100/test/0.jpg
1    ../data/test/1.jpg      1    ../data/processed/resize_100/test/1.jpg
2   ../data/test/10.jpg     10   ../data/processed/resize_100/test/10.jpg
3  ../data/test/100.jpg    100  ../data/processed/resize_100/test/100.jpg
4  ../data/test/101.jpg    101  ../data/processed/resize_100/test/101.jpg

In [78]:
X, y = c.processing.random_forest_transform(df, 'resize_100_path', grayscale=False)
print(X.shape)
print(y.shape)

(1481, 30000)
(1481,)

In [79]:
import scipy
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)

In [80]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(992, 30000)
(992,)
(489, 30000)
(489,)

In [102]:
from sklearn.ensemble import RandomForestClassifier as RFC
rfc = RFC(n_jobs=2,n_estimators=50)
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=50, n_jobs=2, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [103]:
rfc.score(X_test, y_test)

0.5112474437627812

In [ ]:
score, ldf = cervix.submission.compute_losses('../data/dev_submission.csv')

In [ ]:
score

In [ ]:
ldf

In [27]:
c.data.check_image(df.resize_100_path[0])

AttributeError: 'DataFrame' object has no attribute 'resize_100_path'

In [ ]:
c.data.check_image(tdf.path[1])